@import url('https://fonts.googleapis.com/css2?family=Cousine&family=Dancing+Script&family=Montserrat&display=swap');

/*Cores monocromáticas
#FF7879
#EAB4B4
#E66C6C
#664F4F
#C45C5C
*/

:root {
	--cor-fundo-pagina: #F4F4F4;
	--cor-primaria: #FF7879;
	--cor-secundaria: ;
	--cor-textos: #000000;
	--cor-hover: #C45C5C;

	--fonte-primaria: 'Montserrat', sans-serif; /*fonte usada no corpo do texto*/
	--fonte-secundaria: 'Cousine', monospace; /*fonte usada no menu*/
	--fonte-terciaria: 'Dancing Script', cursive; /*fonte usada no título*/
}

body {
	overflow-x: hidden; /*Tira o rolamento horizontal criado automaticamente*/
	background: var(--cor-fundo-pagina);
	font-family: var(--fonte-primaria);
}

/* Cabeçalho ----------------------------------------------------------------------------------------------------------------------------- */

.cabecalho__ {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 2% 0;
	letter-spacing: -2.2px;
}

.logo-nav-nome {
	text-align: center;
}

.cabecalho__ span {
	font-family: var(--fonte-terciaria);
	font-size: 5rem;
	transition: 0.5s;
}

.cabecalho__ span:hover {
	transition: 0.2s;
	color: var(--cor-primaria);
}

.cabecalho__ h1 {
	font-size: 1rem;
	font-family: var(--fonte-secundaria);
	letter-spacing: 0px;
}

.navegacao {
	align-self: center;
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: fit-content;
}

.navegacao__paginas {
	text-transform: lowercase;
	letter-spacing: 0px;
}

.navegacao__paginas ul {
	display: flex;
	gap: 25px; 
}

.navegacao__paginas a {
	font-family: var(--fonte-secundaria);
	text-decoration: none;
	font-size: 1.35rem;
	color: var(--cor-primaria);
	word-spacing: -7px;
}

.navegacao__paginas a:hover {
	color: var(--cor-hover);
	cursor: pointer;
}

.navegacao__paginas__resume:hover .navegacao__paginas__resume--curriculos {
	display: flex;
	flex-direction: column;
}

.navegacao__paginas__resume--curriculos {
	display: none;
	position: absolute;
	background-color: var(--cor-primaria);
	align-items: flex-start;
	box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.2);
	z-index: 1; /*Permite que o menu fique suspenso enquanto o mouse está em cima do conteúdo*/
}

.navegacao__paginas__resume--curriculos a {
	color: #F4F4F4;
	font-size: 1rem;
	font-family: var(--fonte-primaria);
	padding: 10px 5px 10px 5px;
	min-width: 84px;
	border: 2px solid #e6e2e2;
}

.navegacao__paginas__resume--curriculos a:hover{
	background-color: #F4F4F4;
	color: var(--cor-textos);
}

.navegacao__redes_sociais {
	text-align: center;
	transform: scale(1.8);
	width: fit-content;
	display: flex;
	gap: 7px;
	align-self: center;
}

.fa-brands {
	padding-right: 1.5%;
	color: var(--cor-primaria);
}

.fa-brands:hover {
	opacity: 0.7;
	transform: scale(1.2);
}

.fa-brands:visited {
	color: var(--cor-primaria);
}

/* CSS da Página Inicial --------------------------------------------------------------------------------------------------------------- */

.foto-perfil {
	width: 50%;
	border-radius: 50px;
	float: right;
	box-shadow: 4px 4px 25px 0 rgba(0, 0, 0, 0.5);
}

.main-descricao-foto {
	display: flex;
	align-items: center;
	gap: 5%;
	width: 76%;
	margin: 2% auto;
}

.main-descricao-foto strong {
	font-weight: bold;
}

.main-descricao-foto em {
	font-style: italic;
}

.main-descricao-foto-texto {
	font-size: 1.12rem;
	max-width: 450px;
}

.main-descricao-foto-texto p {
	padding-bottom: 0.7em;
}

.introducao-sobre {
	text-align: justify;
	line-height: 1.2em;
}

.secao__menu__conquistas { /*Section ------------------*/
	width: 78%;
	margin: 2.5% auto;
	clear: right;
	font-weight: bold;
	font-size: 1.12rem;
}

.secao__menu__conquistas h2, h3 {
	padding: 1em 0;
}

.secao__menu__conquistas--cursos--e--projetos {
	display: grid;
	grid-template-columns: 150px 150px 150px 150px 200px;
	grid-gap: 4rem;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
}

.secao__menu__conquistas--cursos--e--projetos img {
	width: 150px;
	height: 150px;
	border-radius: 5px;
	box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5);
	transition: 0.5s ease-in-out;
}

.secao__menu__conquistas--overlay {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: center + safe;
	align-self: center;
	position: relative;
	padding: .5rem 0;
	text-decoration: none;
}

.secao__menu__conquistas--overlay:hover img{
	cursor: pointer;
	filter: grayscale(100%);
	opacity: 0.5;
}

.secao__menu__conquistas--overlay:hover .secao__menu__conquistas--overlay--texto {
	cursor: pointer;
	visibility: visible;
}

.secao__menu__conquistas--overlay--texto {
	height: auto;
	align-self: center;
	background-color: var(--cor-primaria);
	opacity: 0.95;
	border-radius: 3px;

	position: absolute;
	max-width: 120px;
	word-break: break-word;
	
	color: #F1F1F1;
	text-align: center;
	font-size: 1rem;
	padding: 20px 8px;
	cursor: pointer;

	visibility: hidden;
}

.secao__menu__conquistas--see--more {
	border-radius: 3px;
	padding: 15px;
	background-color: var(--cor-primaria);
	max-width: fit-content;
	height: auto;
	align-self: center;

	text-decoration: none;
	color: #F1F1F1;
	font-family: var(--fonte-primaria);
	transition: 0.5s;
}

.secao__menu__conquistas--see--more:hover {
	background-color: var(--cor-hover);
	transform: scale(1.05);
}

.secao__menu__conquistas--see-more-scale {
	font-size: 1.8rem;
}

footer {
	width: 100%;
	text-align: center;
	margin-top: 5px;
	background-color: var(--cor-primaria);
}

.copyright {
	padding: 20px;
	font-size: 0.81rem;
	clear: right;
	color: #F4F4F4;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.cabecalho__ {
		flex-direction: column;
		margin: 20px auto;
	}

	.navegacao {
		margin: 20px 0;
		width: fit-content;
	}

	.navegacao__paginas ul {
		gap: 10px;
	}

	.navegacao__paginas a {
		font-size: 1rem;
	}

	.main-descricao-foto {
		flex-direction: column-reverse;
		gap: 35px;
	}

	.foto-perfil {
		width: 80%;
	}

	.secao__menu__conquistas--cursos--e--projetos {
		grid-template-columns: 1fr 1fr; /*1fr = 1 fraction of the space*/
		grid-template-rows: 1fr 1fr;
		grid-gap: 0.5rem;
		justify-content: center;
	}

	.secao__menu__conquistas--cursos--e--projetos img {
		width: 150px;
		height: 150px;
	}

	.secao__menu__conquistas--see--more {
		transform: translate(90px, 0);
	}
	
	.secao__menu__conquistas--overlay {
		flex-direction: column-reverse;
		align-items: center;
	}

	.secao__menu__conquistas--overlay--texto {
		display: flex;
		position: relative;
		visibility: visible;
		height: 45px;
		align-items: center;
		justify-content: center;
		font-size: 0.9rem;
		padding: 8px;
		min-width: 120px;
		border-radius: 5px 5px 0 0;
		border: 2.5px solid var(--cor-primaria);
		background-color: #F1F1F1;
		color: var(--cor-primaria);
	}

	.secao__menu__conquistas--overlay--texto:hover {
		background-color: var(--cor-primaria);
	}

	.secao__menu__conquistas--see--more {
		padding-top: 10px;
	}

	.secao__menu__conquistas--see--more:hover {
		position: relative;
		background-color: var(--cor-primaria);
		transform: scale(1);
		transform: translate(90px, 0);
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.cabecalho__ {
		flex-direction: column;
		margin: 20px auto;
		transform: scale(1.1);
		width: fit-content;
	}

	.navegacao {
		margin: 20px 0;
		width: fit-content;
	}

	.navegacao__paginas ul {
		gap: 10px;
	}

	.navegacao__paginas a {
		font-size: 1rem;
	}

	.main-descricao-foto {
		flex-direction: column-reverse;
		gap: 35px;
	}

	.main-descricao-foto-texto {
		max-width: 100%;
	}

	.foto-perfil {
		width: 80%;
	}

	.secao__menu__conquistas--cursos--e--projetos {
		grid-template-columns: 1fr 1fr 1fr; /*1fr = 1 fraction of the space*/
		grid-template-rows: 1fr 1fr;
		grid-gap: 0.5rem;
		justify-content: center;
	}

	.secao__menu__conquistas--cursos--e--projetos img {
		width: 150px;
		height: 150px;
	}

	.secao__menu__conquistas--see--more {
		transform: translate(90px, 0);
	}
	
	.secao__menu__conquistas--overlay {
		flex-direction: column-reverse;
		align-items: center;
	}

	.secao__menu__conquistas--overlay--texto {
		display: flex;
		position: relative;
		visibility: visible;
		height: 45px;
		align-items: center;
		justify-content: center;
		padding: 8px;
		min-width: 120px;
		border-radius: 5px 5px 0 0;
		border: 2.5px solid var(--cor-primaria);
		background-color: #F1F1F1;
		color: var(--cor-primaria);
	}

	.secao__menu__conquistas--overlay--texto:hover {
		background-color: var(--cor-primaria);
	}

	.secao__menu__conquistas--see--more {
		padding-top: 10px;
	}

	.secao__menu__conquistas--see--more:hover {
		position: relative;
		background-color: var(--cor-primaria);
		transform: scale(1);
		transform: translate(90px, 0);
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
 